@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    cursor: url('Group.png'), auto;
}

body {
    font-family: 'DungGeunMo', sans-serif;
    background-color: #000000;
    color: #7CFC00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.albert2 {
    width: 1530px;
    height: 880px;
    border: 5px solid #7CFC00;
    background: #0C1900;
    text-align: center;
    border-top: 80px #7CFC00 solid;
    position: absolute; /* 화면 내에서 절대 위치 조정 */
    left: 50px; /* 초기 위치 */
    top: 50px; /* 초기 위치 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.navbar {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navbar h1 {
    color: #000000; /* Change the font color to black */
    font-size: 45px;
    margin-left: 20px;
    font-weight: 100;
}

.icon-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.icon-nav li {
    margin: 0 10px; /* 아이콘 사이 간격 조정 */
}

.icon-nav li a img {
    width: 40px; /* 아이콘 크기 조정 */
    height: 40px;
}

.content {
    display: flex; /* 이미지를 왼쪽으로, 박스를 오른쪽으로 정렬 */
    align-items: flex-start; /* 수직 정렬 */
    width: 100%;
}

.image1, .image2, .image3 {
    position: relative; /* 드래그를 위해 relative 설정 */
    width: 480px;
    height: 800px;
    margin-top: 40px;
    margin-left: 22px;
}

.image1 {
    width: 480px;
    height: 800px;
    margin-top: 40px;
    margin-left: 22px;
}

.image2 {
    width: 480px;
    height: 800px;
    margin-top: 40px;
    margin-left: 22px;
}

.image3 {
    width: 480px;
    height: 800px;
    margin-top: 40px;
    margin-left: 22px;
}
